<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="unnati.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{ url 'app:index'}">Wings of Life</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:index' %}">Home</a>
    </li>
    {%if user.is_authenticated %}
    <li>
      <a class="nav-link" href="{%url 'basic_app:bloodbank_home'%}">Home</a>
    </li>
    {%else%}
    <li class="nav-item">
      <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
    </li>
    {%endif%}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'basic_app:register' %}">Register User</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'basic_app:stock_availability' %}">Stock Availability</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'basic_app:camps' %}">Camps Schedule</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </li>

    {%if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>

      <li>
        <a class="nav-link" href="{% url 'basic_app:editdetails' %}">Edit details</a>
      </li>

    {%else%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
      </li>
    {%endif%}
  </ul>

</div>
</nav>
<div class="container">
  {% block body_block%}
  {%endblock%}
</div>

  <script src="https://kit.fontawesome.com/e92ddfb58e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
