<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WingsOfLife</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
  <link rel="icon" href="{% static "images/redwings.jpg" %}">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo|Source+Serif+Pro&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="{% static "images/redwings.jpg"%}" alt="" width="50px" height="60px"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'basic_app:index' %}">Home</a>
        </li>
        {%if user.is_authenticated %}
          {%if userIsBank%}
          <li>
            <a class="nav-link" href="{%url 'basic_app:bloodbank_home'%}">Home</a>
          </li>
          {%endif%}
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
        </li>
        {%endif%}
        <!--<li class="nav-item">
          <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
        </li>
        <a href="{%url 'basic_app:login_bloodbank'%}" class="myButton" style="margin:20px;">BloodBank Login</a>
        -->


        <li class="nav-item ">
          <a class="nav-link" href="{% url 'app:drop' %}">Current Requests</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'basic_app:get_reports' %}">Get Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact:contactview' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:feedback' %}">Feedback</a>
        </li>

        <!--{%if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

          <li>
            <a class="nav-link" href="{% url 'basic_app:editdetails' %}">Edit details</a>
          </li>

        {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
          </li>
        {%endif%}-->

      </ul>
      <form class="form-inline my-2 my-lg-0">
        {%if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="myButton" style="margin:20px;">Logout</a>
            <a href="{% url 'basic_app:editdetails' %}" class="myButton" style="margin:20px;">Edit Details</a>
        {%else%}
        <a href="{% url 'basic_app:user_login' %}" class="myButton" style="margin:20px;">User Login</a>
        {%endif%}
        {%if user.is_anonymous%}
        <a href="{% url 'basic_app:register' %}" class="myButton">User SignUp</a>
        {%endif%}
      </form>
    </div>
  </nav>

    <div class="container">


    <h1 class="title">Stock Availability</h1>
    <br>

    <div>


      {%if detailsNotTaken %}
      <form action="{% url 'basic_app:stock_availability' %}" method="post">
        {%csrf_token%}
          <div class="input-group mb-3 pull-left" style="text-align:center;">

              <select name="state" class="custom-select">
                <option disabled selected>Select State</option>
              {% for entry in itemst %}
                  <option value="{{ entry.State }}">{{ entry.State }}</option>
              {% endfor %}
              </select>
            </div>
        <!--  <div class="input-group mb-3 pull-left" style="text-align:center;">
          <select name="district" class="form">
            <option disabled selected>Select District</option>
          {% for entry in bank %}
              <option value="{{ entry.district }}">{{ entry.district }}</option>
          {% endfor %}
          </select>
        </div>-->
          <div class="input-group mb-3 pull-left">
            <select class="custom-select" id="bloodgroup" name="bloodgroup">
              <option disabled selected>Select Blood Group</option>
            {% for entry in itembg %}
                <option value="{{ entry.Blood_group }}">{{ entry.Blood_group }}</option>
            {% endfor %}

            </select>
          </div>
          <div class="input-group mb-3 pull-left">
            <select class="custom-select" id="bloodcomponent" name="bloodcomponent">
              <option value="Select blood component">Select Blood Component</option>
              <option value="WB">WB</option>
              <option value="WBC">Washed Blood Cell</option>
              <option value="SDP">Single Donar Platelet</option>
              <option value="SAGM RBC">Sagm Packed Red Blood Cells</option>
              <option value="PRP">Platelet Rich Plasma</option>
              <option value="PC">Platelet Concentrate</option>
              <option value="Plasma">Plasma</option>
              <option value="Packed RBC">Packed Red Blood Cell</option>
              <option value="FFP">Fresh Frozen Plasma</option>
              <option value="Cryo-ppt">Cryoprecipiate</option>
              <option value="Cryo-PP">Cryo Poor Plasma</option>
              <option value="Bombay BG">Bombay Blood Group</option>
            </select>
          </div>
          <input type="submit" name="" value="Apply">
        </form>

        {%else %}
        <div class="container">
          <form action="{% url 'basic_app:display_stock' %}" method="post">
              <table class="table table-bordered">
            <thead>
            <tr>

              <th scope="col">Blood Bank</th>
              <th scope="col">Category</th>
              <th scope="col">State</th>
              <th scope="col">District</th>
              <th scope="col">Contact Details</th>
              <th scope="col">Availability</th>
              <th scope="col">Cost</th>
              <th scope="col">Last Updated</th>
            </tr>
            </thead>
            <tbody>
              {%for join in stock %}
                <tr>
                        <td>{{join.Bid.Blood_Bank_Name}}</td>
                        <td>{{join.Bid.Category}}</td>
                        <td>{{join.Bid.State}}</td>
                        <td>{{join.Bid.District}}</td>
                        <td>{{join.Bid.Contact_No}}</td>


                  <td>{{join.Number_of_bags}}</td>
                  <td>{{ join.Cost}}</td>
                  <td>{{join.Last_updated}}</td>
                </tr>
              {%endfor%}


                <!-- <tr>
                  <th scope="row">{{stock.id}}</th>
                  <td>{{bank.Blood_Bank_Name}}</td>
                  <td>{{bank.Category}}</td>
                  <td>{{stock.Number_of_bags}}</td>
                </tr>
               -->
            </table>
            </form>
          </div>

          {%endif%}
      </div>
      </div>


    <br>
    <br>
    <br>







      <script src="https://kit.fontawesome.com/e92ddfb58e.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
