<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static "css/aboutus_stylesheet.css"%}">
  <link rel="icon" href="{% static "images/redwings.jpg" %}">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo|Source+Serif+Pro&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img src="{% static "images/redwings.jpg"%}" alt="" width="50px" height="60px"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basic_app:index' %}">Home</a>
        </li>
        {%if user.is_authenticated %}
        {%if userIsBank%}
        <li>
          <a class="nav-link" href="{%url 'basic_app:bloodbank_home'%}">Home</a>
        </li>
        {%endif%}
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
        </li>
        {%endif%}
        <!--<li class="nav-item">
          <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
        </li>
        <a href="{%url 'basic_app:login_bloodbank'%}" class="myButton" style="margin:20px;">BloodBank Login</a>
        -->


        <li class="nav-item ">
          <a class="nav-link" href="{% url 'app:drop' %}">Current Requests</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'basic_app:get_reports' %}">Get Reports</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'app:about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact:contactview' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:feedback' %}">Feedback</a>
        </li>
        <!--{%if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

          <li>
            <a class="nav-link" href="{% url 'basic_app:editdetails' %}">Edit details</a>
          </li>

        {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
          </li>
        {%endif%}-->

      </ul>
      <form class="form-inline my-2 my-lg-0">
        {%if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="myButton" style="margin:20px;">Logout</a>
        <a href="{% url 'basic_app:editdetails' %}" class="myButton" style="margin:20px;">Edit Details</a>
        {%else%}
        <a href="{% url 'basic_app:user_login' %}" class="myButton" style="margin:20px;">User Login</a>
        {%endif%}
        {%if user.is_anonymous%}
        <a href="{% url 'basic_app:register' %}" class="myButton">User SignUp</a>
        {%endif%}
      </form>
    </div>
  </nav>

  <div class="mission">
    <img src="{% static "images/target.png" %}" class="info-img" alt="" width="30px" height="30px">
    <p><h3 class="h3text">-OUR MISSION-</h3></p>
    <p>To provide easy access to the user while searching for a nearby bloodbank, bloodstock and active camps. </p>
    <br>
<p></p>
    <br>


    <!-- info about us -->
    <img src="{% static "images/file.png" %}" class="info-img" alt="" width="30px" height="30px">
    <p><h3 class="h3text">-ABOUT US-</h3></p>
    <p>
      Welcome to Wings of Life!
      <br>



Starting this small  website for our college project in VJTI Matunga , we have big dreams. Our passion for learning database management and QGIS have motivated us to create this website. We aim to provide our users with nothing but the highest quality of services, that are guaranteed to meet their needs and keep them satisfied!

With a motivated team, we strive to be the creative minds that bring a smile to your face. That’s why we’re always looking for innovative new ways to get the best to you.
    </p>

  </div>

  <!-- teaminfo -->
<div class="ourteam">
<img src="{% static "images/networking.png" %}" class="info-img" alt="" width="40px" height="40px">
<p><h3 class="h3text">-OUR DEVELOPERS-</h3></p>
<br>
<div class="devlopers">

  <div class="skill-row left">
    <img class="skillimage" src="{% static "images/unnati.jpg" %}" alt="webdevelopment">
    <h3>Unnati Nandrekar</h3>
    <p>Tech-savvy</p>
    <p>I debug and I know coding.</p>
    <p> Learning is fun!!</p>
  </div>
<br>
  <div class="skill-row right">
    <img class="bestskillimg" src="{% static "images/priyu.jpeg" %}" alt="bestskill">
    <h3>Priyanshi Gupta</h3>
    <p>Tech Geek.</p>
    <p> Budding developer.</p>
    <p>Sometimes I start talking into Binary.</p>
  </div>
<br>
  <div class="skill-row left">
    <img class="skillimage" src="{% static "images/yuk.jpeg" %}" alt="webdevelopment">
    <h3>Yukta Sarode</h3>
    <p>Tech-enthusiast.</p>
    <p>Keen Learner.</p>
    <p>Love for coffee,cupcakes and code.</p>
  </div>
<br>
  <div class="skill-row right">
    <img class="bestskillimg" src="{% static "images/prapti.jpeg" %}" alt="bestskill">
    <h3>Prapti Sankhe</h3>
    <p>Techie in making!!</p>
    <p>I started coding when I was 16.<p>
    </p>codeflex and chill.</p>
  </div>


</div>


</div>

<!-- footer -->

<div class="footer">
<p class="c">© 2020 TEAM-16.</p>
</div>

</body>

</html>
