<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WingsOfLife</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
    <link rel="icon" href="{% static "images/redwings.jpg" %}">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Source+Serif+Pro&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href=""><img src="{% static "images/redwings.jpg"%}" alt="" width="50px" height="60px"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'basic_app:index' %}">Home</a>
          </li>
          {%if user.is_authenticated %}
          {%if userIsBank%}
          <li>
            <a class="nav-link" href="{%url 'basic_app:bloodbank_home'%}">Home</a>
          </li>
          {%endif%}
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
          </li>
          {%endif%}
          <!--<li class="nav-item">
            <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
          </li>
          <a href="{%url 'basic_app:login_bloodbank'%}" class="myButton" style="margin:20px;">BloodBank Login</a>
          -->


          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'app:drop' %}">Current Requests</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'basic_app:get_reports' %}">Get Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact:contactview' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:feedback' %}">Feedback</a>
          </li>
          <!--{%if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'basic_app:editdetails' %}">Edit details</a>
            </li>

          {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
            </li>
          {%endif%}-->

        </ul>
        <form class="form-inline my-2 my-lg-0">
          {%if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="myButton" style="margin:20px;">Logout</a>
          <a href="{% url 'basic_app:editdetails' %}" class="myButton" style="margin:20px;">Edit Details</a>
          {%else%}
          <a href="{% url 'basic_app:user_login' %}" class="myButton" style="margin:20px;">User Login</a>
          {%endif%}
          {%if user.is_anonymous%}
          <a href="{% url 'basic_app:register' %}" class="myButton">User SignUp</a>
          {%endif%}
        </form>
      </div>
    </nav>

<div class="container">
  <h1 class="title"> CURRENT REQUESTS</h1>
</div>
<br>
<!--<div class="container">
  <form class="" method="post">
    {{ form1.as_p}}
    {% csrf_token %}

  </form>
</div>-->
<div class="container">
  <form method="POST">
    {% csrf_token %}
  <select name="item_city" class="form">
    <option disabled selected>Select City</option>
  {% for entry in itemc %}
      <option value="{{ entry.city }}">{{ entry.city }}</option>
  {% endfor %}
  <option value="All">All</option>

  </select>

  <select name="item_bg" class="form">
    <option disabled selected>Select Blood Group</option>
  {% for entry in itembg %}
      <option value="{{ entry.blood_group }}">{{ entry.blood_group }}</option>
  {% endfor %}
    <option value="All">All</option>
  </select>

  <input type="submit" name="" value="Search" class="myButton">
  </form>
</div>

<br>
<div class="container">
  {% if detailsNotTaken %}
        {% if items %}
        <table class="table table-bordered">
          <thead>
            <th>Patient Name</th>
            <th>Contact Name</th>
            <th>Email ID</th>
            <th>Blood Group</th>
            <th>State</th>
            <th>City</th>
            <th>Contact No.</th>
            <th>Requirement Date</th>
            <th>Hospital Name</th>
          </thead>
          {% for disp in items %}
          <tr>
            <td>{{ disp.patient_name }}</td>
            <td>{{ disp.contact_name}}</td>
            <td>{{ disp.email}}</td>
            <td>{{ disp.blood_group }}</td>
            <td>{{ disp.state }}</td>
            <td>{{ disp.city }}</td>
            <td>{{ disp.contact_num }}</td>
            <td>{{ disp.date_of_requirement}}</td>
            <td>{{ disp.hospital_name}}</td>
          </tr>

          {% endfor %}
        </table>
       {% endif %}



</div>

{% else %}
<div class="container">

  {% if display %}
      <table class="table table-bordered">
        <thead>
          <th>Patient Name</th>
          <th>Contact Name</th>
          <th>Email ID</th>
          <th>Blood Group</th>
          <th>State</th>
          <th>City</th>
          <th>Contact No.</th>
          <th>Requirement Date</th>
          <th>Hospital Name</th>
        </thead>
        {% for disp in display %}
        <tr>
          <td>{{ disp.patient_name }}</td>
          <td>{{ disp.contact_name}}</td>
          <td>{{ disp.email}}</td>
          <td>{{ disp.blood_group }}</td>
          <td>{{ disp.state }}</td>
          <td>{{ disp.city }}</td>
          <td>{{ disp.contact_num }}</td>
          <td>{{ disp.date_of_requirement}}</td>
          <td>{{ disp.hospital_name}}</td>
        </tr>

        {% endfor %}
      </table>

      {% else %}
      <p>No Request Found!</p>
      {% endif %}

</div>
{% endif %}

  </div>
  <p class="c">© 2020 TEAM-16.</p>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




  </body>
</html>
