<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WingsOfLife</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
    <link rel="icon" href="{% static "images/redwings.jpg" %}">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Source+Serif+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href=""><img src="{% static "images/redwings.jpg"%}" alt="" width="50px" height="60px"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'basic_app:index' %}">Home</a>
          </li>
          {%if user.is_authenticated %}
          {%if userIsBank%}
          <li>
            <a class="nav-link" href="{%url 'basic_app:bloodbank_home'%}">Profile</a>
          </li>
          {%endif%}
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
          </li>
          {%endif%}
          <!--<li class="nav-item">
            <a class="nav-link" href="{%url 'basic_app:login_bloodbank'%}">Blood Bank Login</a>
          </li>
          <a href="{%url 'basic_app:login_bloodbank'%}" class="myButton" style="margin:20px;">BloodBank Login</a>
          -->


          <li class="nav-item ">
            <a class="nav-link" href="{% url 'app:drop' %}">Current Requests</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'basic_app:get_reports' %}">Get Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact:contactview' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:feedback' %}">Feedback</a>
          </li>
          <!--{%if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'basic_app:editdetails' %}">Edit details</a>
            </li>

          {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
            </li>
          {%endif%}-->

        </ul>
        <form class="form-inline my-2 my-lg-0">
          {%if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="myButton" style="margin:20px;">Logout</a>
          <a href="{% url 'basic_app:editdetails' %}" class="myButton" style="margin:20px;">Edit Details</a>
          {%else%}
          <a href="{% url 'basic_app:user_login' %}" class="myButton" style="margin:20px;">User Login</a>
          {%endif%}
          {%if user.is_anonymous%}
          <a href="{% url 'basic_app:register' %}" class="myButton">User SignUp</a>
          {%endif%}
        </form>
      </div>
    </nav>


<div class="container">
  <h1 class="title"> REQUEST BLOOD</h1>
</div>

<div class="container jumbotron">
  <form class="" method="post" class="forms">
    {{ form.non_field_errors }}
    {% csrf_token %}

<div >
  <label for="id_patient_name">Patient Name:</label>
      {{ form.patient_name }}

</div>
<br>
<br>
<div>
  <label for="id_contact_name">Contact Name:</label>
      {{ form.contact_name }}





</div>
<br>
<br>
<div class="">
  <label for="id_email">Email ID:</label>
      {{ form.email }}



</div>
<br>
<br>
<div class="">
  <label for="id_blood_group">Blood Group:</label>
      {{ form.blood_group }}

</div>
<br>
<br>
<div class="">
  <label for="id_city">City:</label>
      {{ form.city }}

</div>
<br>
<br>
<div class="">
  <label for="id_state">State:</label>
      {{ form.state }}



</div>
<br><br>
<div class="">
  <label for="id_contact_num">Contact Number:</label>
    {{ form.contact_num }}

</div>
<br><br>
<div class="">
  <label for="id_date_of_requirement">Date of Requirement(yyyy-mm-dd):</label>
    {{ form.date_of_requirement }}
</div>
<br><br>
<div class="">
  <label for="id_hospital_name">Hospital Name:</label>
      {{ form.hospital_name }}



</div>
<br><br>

    <input type="submit" name="" class="myButton" value="Submit">
  </form>


</div>


  </div>
  <p class="c">© 2020 TEAM-16.</p>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  </body>
</html>
